FAVORIOT_API_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InB1YWppbW15MDIiLCJyZWFkX3dyaXRlIjp0cnVlLCJpYXQiOjE3ODEwODA4MjB9.CGgypv4VlgZOE_8d95mdU-c25WwH-DGBeK6F7Pve9T4"
FAVORIOT_DEVICE_DEVELOPER_ID= "deviceDefault@puajimmy02"
FAVORIOT_URL=https://apiv2.favoriot.com/v2/streams

DHT_PIN=D4
SOIL_CHANNEL=0
RELAY_PIN=18
READ_INTERVAL_SECONDS=10

# MCP3008 value calibration. Most analog soil sensors are high when dry and low when wet.
SOIL_DRY_RAW=1.0
SOIL_WET_RAW=0.0

DRY_PERCENT=30
WET_PERCENT=70
CSV_FILE=plant_data.csv
